 <section id="menu">
      <div class="navigation">
        <div id="main-nav" class="navbar navbar-default" role="navigation">
          <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home">Zgraphy.com <i class="fa fa-trademark"></i></a>
            </div> <!-- end .navbar-header -->

            <div class="navbar-collapse collapse">
              <ul id="ulnav" class="nav navbar-nav navbar-right">
                <li class="active"><a href="/home/#top">Home</a></li>
                <li><a href="/home/#features">Features</a></li>
                <li><a href="/home/#screenshots">Products</a></li>
                <li><a href="/home/#description">Description</a></li>
               
                <li><a href="/home/#team">About us</a></li>
               
                <li><a href="/home/#contact">Contact</a></li>
                
                 <li style="margin-top: 20px;;">
                 
                 <form action="/logoutAdmin">
                
                	<button type="submit" class="btn btn-xs btn-warning"><span area-hidden="true"><i class="fa fa-sign-out"></i></span> Admin Logout</button>
                 </form>
                 </li>
              </ul>
            </div><!-- end .navbar-collapse -->

          </div> <!-- end .container -->
        </div> <!-- end #main-nav -->
      </div> <!-- end .navigation -->
    </section>
    <!-- ====== End Menu Section ====== -->
  