<!DOCTYPE html>
<!-- saved from url=(0067)http://www.vistaprint.in/lpt/business.aspx?xnav=NVHP_Marquee_1_cta1 -->
<html lang="en-in" class=" brand-2014">
<head>
	 <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <!-- Template Title -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>

    <!-- Bootstrap 3.2.0 stylesheet -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">

 <!-- Font Awesome Icon stylesheet -->
    <link href="css/main/font-awesome.min.css" rel="stylesheet">

<link href="css/footer/footer-distributed-with-address-and-phones.css" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link href="css/main/style.css" rel="stylesheet">
     <link href="css/stylesheet.css" rel="stylesheet">
    
    <link href="css/main/white.css" rel="stylesheet">


    <!-- Custom Responsive stylesheet -->
    <link href="css/main/responsive.css" rel="stylesheet">
  

    <title>Product gallery</title>

    <link rel="apple-touch-icon" sizes="152x152" href="http://www.vistaprint.in/vp/images/vp-site/common/logo/vistaprint-favorites-76-76-2014-2x.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://www.vistaprint.in/vp/images/vp-site/common/logo/vistaprint-favorites-60-60-2014-2x.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://www.vistaprint.in/vp/images/vp-site/common/logo/vistaprint-favorites-76-76-2014.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://www.vistaprint.in/vp/images/vp-site/common/logo/vistaprint-favorites-60-60-2014.png">

	 <script type="text/javascript" async="" src="js/gallery/conversion_async.js" id="utag_24868"></script>
    <script type="text/javascript" async="" src="js/gallery/refiral.min.js" id="utag_24860"></script>



    <!-- <style type="text/css">
        @font-face {
            font-family: MarkPro;
            src: url("/sf/_langid-1/_hc-9e6f9df0/_/vp/fonts/MarkWeb-Bold_modified.woff") format("woff");
            font-weight: bold;
        }

        @font-face {
            font-family: MarkPro;
            src: url("/sf/_langid-1/_hc-9e6f9df0/_/vp/fonts/MarkWeb-Light_modified.woff") format("woff");
        }
    </style>
    <style type="text/css">
        @font-face {
            font-family: MarkPro;
            src: url("/sf/_langid-1/_hc-9e6f9df0/_/vp/fonts/MarkWeb-Bold_modified.woff") format("woff");
            font-weight: bold;
        }

        @font-face {
            font-family: MarkPro;
            src: url("/sf/_langid-1/_hc-9e6f9df0/_/vp/fonts/MarkWeb-Light_modified.woff") format("woff");
        }
    </style> -->
   <link rel="stylesheet" type="text/css" href="jquery.bxslider-236_min-hcd1a4ef75df298ad3c7714c648f67a38e.css">
    <link rel="stylesheet" type="text/css" href="css/gallery/home3.css">
    <link rel="stylesheet" type="text/css" href="css/gallery/responsive-grid_min.css">
    <link rel="stylesheet" type="text/css" href="css/gallery/home1.css">
    <link rel="stylesheet" type="text/css" href="css/gallery/home2.css">
    <script type="text/javascript" src="js/gallery//bootstrapper_min.js"></script>

</head>
<body>
   <header> <% include ./resources/headerAndMenu %> </header>
    <noscript>&lt;div class="noscript-padding"&gt;&lt;/div&gt;</noscript>
<br><br>
 <div class="viewport">
        <div class="main-page">

            <div class="main-panel">
                <div class="main-panel-inner content-bounding-box ">
                    <nav class="main-nav">
                    </nav>
                    <article class="main-content">
                        <div class="main-content-inner">

                            <style>
                                body {
                                    font-family: "MarkPro",sans-serif;
                                }

                                .lower-footer {
                                    display: none!important;
                                }

                                .bl-grid-item-title {
                                    text-shadow: 2px 2px 8px rgba(14, 14, 14, 0.88);
                                }

                                #bl-grid-item-title-1 ul li:last-child, #bl-grid-item-title-3 ul li:last-child, #bl-grid-item-title-6 ul li:last-child, #bl-grid-item-title-7 ul li:last-child {
                                    border-right: none;
                                }

                                #bl-grid-item-title-1 ul li, #bl-grid-item-title-3 ul li, #bl-grid-item-title-6 ul li, #bl-grid-item-title-7 ul li {
                                    display: inline-block;
                                    font-size: 12px;
                                    font-weight: 400;
                                    padding: 0px 3px;
                                    border-right: 1px #fff solid;
                                    text-decoration: underline;
                                    line-height: 12px;
                                }

                                    #bl-grid-item-title-3 ul li a, #bl-grid-item-title-1 ul li a, #bl-grid-item-title-6 ul li a, #bl-grid-item-title-7 ul li a {
                                        text-decoration: none;
                                        color: #fff;
                                    }

                                #bl-grid-item-1 .bl-grid-item-button, #bl-grid-item-6 .bl-grid-item-button, #bl-grid-item-7 .bl-grid-item-button {
                                    bottom: 20%!important;
                                }

                                .bl-grid-item:hover {
                                    background: rgba(0,0,0,0.4);
                                }

                                .card {
                                    height: 238px;
                                    overflow: hidden;
                                    position: relative;
                                    font-family: "MarkPro",sans-serif;
                                }

                                .card_content {
                                    background-color: rgba(255,255,255,0.95);
                                    padding: 0px;
                                    position: absolute;
                                    bottom: -193px;
                                    transition: all 0.5s ease;
                                }

                                .card_content1 {
                                    background-color: rgba(0,0,0,0.7);
                                    position: absolute;
                                    top: 100px;
                                    width: 100%;
                                    transition: all 0.5s ease;
                                }

                                    .card_content1 .he3 {
                                        font-size: 20px;
                                        font-family: "MarkPro",sans-serif;
                                        color: #fff;
                                        font-weight: bold;
                                        text-align: center;
                                        text-transform: uppercase;
                                        line-height: 15px;
                                        padding: 20px 0px 15px;
                                    }

                                .card:hover .card_content {
                                    background-color: rgba(255,255,255,0.95);
                                    bottom: 0;
                                    height: 188px;
                                    width: 100%;
                                }

                                .card:hover .card_content1 {
                                    background-color: #4b4b4b;
                                    top: 0;
                                }

                                .prod-list ul {
                                    margin: 0 0 0 0;
                                    padding: 0;
                                    list-style: none;
                                    display: block;
                                    text-align: center;
                                }

                                .prod-list li {
                                    width: 32%;
                                    display: inline-block;
                                    text-align: center;
                                    margin-top: 3%;
                                    vertical-align: bottom;
                                }

                                    .prod-list li a {
                                        color: inherit;
                                        margin: auto;
                                        display: block;
                                        width: 100%;
                                        white-space: nowrap;
                                    }


                                .prod-list2 ul {
                                    margin: 0 0 0 0;
                                    padding: 0;
                                    list-style: none;
                                    display: block;
                                    text-align: center;
                                }

                                .prod-list2 li {
                                    width: 22%;
                                    display: inline-block;
                                    text-align: center;
                                    margin-top: 10%;
                                    margin-right: 3%;
                                    vertical-align: bottom;
                                }

                                    .prod-list2 li a {
                                        color: inherit;
                                        margin: auto;
                                        display: block;
                                        width: 80%;
                                        white-space: nowrap;
                                    }

                                .prod-list3 ul {
                                    margin: 0 0 0 0;
                                    padding: 0;
                                    list-style: none;
                                    display: block;
                                    text-align: center;
                                }

                                .prod-list3 li {
                                    width: 45%;
                                    display: inline-block;
                                    text-align: center;
                                    margin-top: 20%;
                                    margin-right: 5%;
                                    vertical-align: bottom;
                                }

                                    .prod-list3 li a {
                                        color: inherit;
                                        margin: auto;
                                        display: block;
                                        width: 100%;
                                        white-space: nowrap;
                                    }

                                .prod-list3 ul li:last-child {
                                    margin-right: 0%;
                                }
                            </style>
                            <!-- Grid Starts -->
                            <div class="grid-container">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="card">
                                            <img class="" src="vistaprint_files/Aditya-Dharwa-hc17c83e69efa79418551d9115ee4cfa21.png" style="height: 238px; width: 219px;" title=""><div class="card_content1">
                                                <div class="he3">Visiting Cards</div>
                                            </div>
                                            <div class="card_content">
                                                <a href="http://www.vistaprint.in/category/visiting-cards.aspx?Bussiness_LP" target="_blank">
                                                    <div style="height: 238px;"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="card">
                                            <img class="" src="Vistaprint_files/stationery-hcabf615db3e1f53fe018c845e00e5eb18.jpg" style="height: 238px; width: 378px;" title=""><div class="card_content1">
                                                <div class="he3">Stationery</div>
                                            </div>
                                            <div class="card_content">
                                                <div class="prod-list">
                                                    <ul>
                                                        <li><a href="http://www.vistaprint.in/letterhead.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/letterhead-hcdfeb236edc1c22632c480b4137d2e611.png" style="height: 65px; width: 100px;" title="">
                                                            </figure>
                                                            <figcaption>Letterheads</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/notebooks.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/notebook-grid-hc9acdfc12a3f9a89411e56ac07beed9db.png" style="height: 65px; width: 100px;" title="">
                                                            </figure>
                                                            <figcaption>Notebooks</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/envelopes/custom-envelopes-multi.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/envolopes-hcee9e741ac30d52a50e31a4243c0c55a2.png" style="height: 65px; width: 100px;" title="">
                                                            </figure>
                                                            <figcaption>Envelopes</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/envelope-seals.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/envelopes-seal-hcf8f4332809549cabc616a9d48e299873.png" style="height: 65px; width: 100px;" title="">
                                                            </figure>
                                                            <figcaption>Envelopes Seals</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/note-cards-multi.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/note-cards-hc3bb9a31f54af17ef12d7d3e89ea9bf5a.png" style="height: 65px; width: 100px;" title="">
                                                            </figure>
                                                            <figcaption>Note Cards</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/postcards.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/post-cards-hcde5d50b2aa3dd70ce2aa85234e6127a8.png" style="height: 65px; width: 100px;" title="">
                                                            </figure>
                                                            <figcaption>Post Cards</figcaption></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="card">
                                            <img class="" src="Vistaprint_files/label-hc3cf441c6d818a14b1cce2c26862d7085.jpg" style="height: 238px; width: 300px;" title=""><div class="card_content1">
                                                <div class="he3">labels &amp; stickers</div>
                                            </div>
                                            <div class="card_content">
                                                <div class="prod-list">
                                                    <ul>
                                                        <li><a href="http://www.vistaprint.in/gallery/IHIBAAABAAAAAAA=/stickers.aspx?filter=78%3a10467%7c%7c1%2c54%3a10202%7c%7c1&amp;xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/cir-hca7a56346d47ef9589f317c9415fe337f.jpg" style="height: 63px; width: 83px;" title="">
                                                            </figure>
                                                            <figcaption>Circle</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/IHIBAAABAAAAAAA=/stickers.aspx?filter=9%3a10013%7c%7c1%2c78%3a10467%7c%7c1%2c54%3a10201%7c%7c1%2c55%3a10204%7c%7c1&amp;xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/oval-hca3171ab174267ef7a41c980d5dd5ea18.jpg" style="height: 63px; width: 82px;" title="">
                                                            </figure>
                                                            <figcaption>Oval</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/IHIBAAABAAAAAAA=/stickers.aspx?filter=9%3a10013%7c%7c1%2c78%3a10467%7c%7c1%2c54%3a10200%7c%7c1%2c55%3a10204%7c%7c1&amp;xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/Rect-hc2085bfaaa548781b23b5001c33846ee0.jpg" style="height: 63px; width: 82px;" title="">
                                                            </figure>
                                                            <figcaption>Rectangle</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/AGQBAAABAAAAAAA=/stickers.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/waterproof-hca265fc8e8f7f917f7e22b554e025f37d.jpg" style="height: 61px; width: 81px;" title="">
                                                            </figure>
                                                            <figcaption>Waterproof</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/IAYAAAABABgAAAA=/return-address-labels.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/rals-hc32a0752db3b10832e4550cdf66cf645d.jpg" style="height: 61px; width: 82px;" title="">
                                                            </figure>
                                                            <figcaption>Rals</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/IGMBAAABAAAAAAA=/name-tags.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/nametag-hc062865ae183c21e889f9119d3e2e33f6.jpg" style="height: 61px; width: 82px;" title="">
                                                            </figure>
                                                            <figcaption>Name Tag</figcaption></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-7">
                                        <div class="card">
                                            <img class="" src="Vistaprint_files/marketing-materials-hc4ca07909797b9713ef26f5ce5547d08e.jpg" style="height: 239px; width: 539px;" title=""><div class="card_content1">
                                                <div class="he3">marketing materials</div>
                                            </div>
                                            <div class="card_content">
                                                <div class="prod-list2">
                                                    <ul>
                                                        <li><a href="http://www.vistaprint.in/gallery/IKMBAAABAC0BAAA=/flyers-leaflets.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/flyers-hcba6057a30fb1629abc85e8b47de167f7.png" style="height: 65px; width: 100px;" title="">
                                                            </figure>
                                                            <figcaption>Flyers &amp; Leaflets</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/IBIAAAABAAAAAAA=/brochures.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/brochures-hcec66858da4e6b03aa60534b164991a0c.png" style="height: 67px; width: 106px;" title="">
                                                            </figure>
                                                            <figcaption>Brochures</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/IDEAAAABAAAAAAA=/rack-cards.aspx/gift-certificates.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/rack-cards-hc4d4c56d8eeeb30d62a73991768686547.png" style="height: 68px; width: 52px;" title="">
                                                            </figure>
                                                            <figcaption>Rack Cards</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gift-certificates.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/gift-certificate-hc36c2049102f204fd9d08d4e4b5ac0f4e.png" style="height: 65px; width: 100px;" title="">
                                                            </figure>
                                                            <figcaption>Gift Certificates</figcaption></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="card">
                                            <img class="" src="Vistaprint_files/photo-product -new-hc668832cb9ba9988df3ee25e8c0b60eb0.jpg" style="height: 239px; width: 380px;" title=""><div class="card_content1">
                                                <div class="he3">Photo Products</div>
                                            </div>
                                            <div class="card_content">
                                                <div class="prod-list2">
                                                    <ul>
                                                        <li><a href="http://www.vistaprint.in/gallery/AE8AAAABACcBAAA=/photo-wall-calendars.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/wall-cal-hc475f075676eb856ff2392c3280c9a3d8.png" style="height: 65px; width: 50px;" title="">
                                                            </figure>
                                                            <figcaption>Wall<br>
                                                                Calendars</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/IE0AAAABAAAAAAA=/photo-desk-calendars.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/desk-cal-hce1fc37840d716f3b6026d499915b8bb9.png" style="height: 65px; width: 83px;" title="">
                                                            </figure>
                                                            <figcaption>Desk<br>
                                                                Calendars</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/lpt/photobooks.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/photo-book-hc28cf7f7357fafaed1a59f5ea6fdd9bc2.png" style="height: 65px; width: 65px;" title="">
                                                            </figure>
                                                            <figcaption>Photobooks</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/AFgCAAABAAEAAAA=/wraparound-mugs.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/mugs-grid-hcdc55d44595a64f45fb5142aca83c58d2.png" style="height: 65px; width: 85px;" title="">
                                                            </figure>
                                                            <figcaption>Mugs</figcaption></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-3">
                                        <div class="card">
                                            <img class="" src="Vistaprint_files/banner-hc6c11645054d047db024fa37569f7c668.jpg" style="height: 238px; width: 218px;" title=""><div class="card_content1">
                                                <div class="he3">sign &amp; posters</div>
                                            </div>
                                            <div class="card_content">
                                                <div class="prod-list3">
                                                    <ul>
                                                        <li><a href="http://www.vistaprint.in/banners.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/banner-grid-hc74338b91140f99220bb138ecda529c4f.png" style="height: 65px; width: 80px;" title="">
                                                            </figure>
                                                            <figcaption>Banners</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/posters.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/posters-grid-hc2f63c8b18a2598375416e9ac29f69534.png" style="height: 65px; width: 80px;" title="">
                                                            </figure>
                                                            <figcaption>Posters</figcaption></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="card">
                                            <img class="" src="Vistaprint_files/bags-new-hc51236f363237af33cb07a070ee308791.jpg" style="height: 238px; width: 219px;" title=""><div class="card_content1">
                                                <div class="he3">bags</div>
                                            </div>
                                            <div class="card_content">
                                                <div class="prod-list3">
                                                    <ul>
                                                        <li><a href="http://www.vistaprint.in/embroidered-laptop-bags.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/bags-grid-hc09f2b528ef4a531ca8e1aa9540ddfabb.png" style="height: 65px; width: 93px;" title="">
                                                            </figure>
                                                            <figcaption>Laptop Bags</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/tote-bags.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/tote-bags-hc92397f316f90d9c94039c9e8efbfb818.png" style="height: 65px; width: 92px;" title="">
                                                            </figure>
                                                            <figcaption>Tote Bags</figcaption></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card">
                                            <img class="" src="Vistaprint_files/embroidered-printed-apparel-hced5c6ebf14a14d788d5eaf3e613acf09.jpg" style="height: 238px; width: 460px;" title=""><div class="card_content1">
                                                <div class="he3">Embroidered &amp; Printed  Apparel</div>
                                            </div>
                                            <div class="card_content">
                                                <div class="prod-list">
                                                    <ul>
                                                        <li><a href="http://www.vistaprint.in/gallery/ILQBAAABAAAAAAA=/embroidered-mens-polos.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/polo-grid-hc0af01dd8cbcd11649a164139d82d2688.png" style="height: 65px; width: 80px;" title="">
                                                            </figure>
                                                            <figcaption>Polos</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/ILQBAAABAAAAAAA=/embroidered-mens-polos.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/merc-polo-hc4e33490c19aaa58b89ec23a0410220e5.png" style="height: 65px; width: 80px;" title="">
                                                            </figure>
                                                            <figcaption>Mercerised Polos</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/IPgCAAABAAAAAAA=/embroidered-office-shirts-men.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/shirts-grid-hcb18625973c770466c1af205b19f367e4.png" style="height: 65px; width: 80px;" title="">
                                                            </figure>
                                                            <figcaption>Shirts</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/category/clothing-and-accessories.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/printed-tshirt-hc0687dcd89eecab9ffc7f6e059dfcda77.png" style="height: 65px; width: 80px;" title="">
                                                            </figure>
                                                            <figcaption>T- Shirts</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/gallery/IJkBAAABAAAAAAA=/embroidered-hoodies.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/hoodies-hcd7e8904fd278b12df21537ed753aa29b.png" style="height: 65px; width: 80px;" title="">
                                                            </figure>
                                                            <figcaption>Hoodies</figcaption></a></li>
                                                        <li><a href="http://www.vistaprint.in/custom-caps.aspx?xnav=Bussiness_LP" target="_blank">
                                                            <figure>
                                                                <img class="" src="Vistaprint_files/caps-grid-hcd3219e26a69316d7d5341090b3356b5c.png" style="height: 65px; width: 92px;" title="">
                                                            </figure>
                                                            <figcaption>Caps</figcaption></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                        </div>

                    </article>

                </div>
            </div>
        </div>
    </div>
    <% include ./resources/footer %> 
   <!-- jQuery -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
   
<script src="js/main.js"></script>
    <!-- Bootstrap 3.2.0 js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/gallery/responsive-grid_min.js"></script>
 
</body>
</html>
