<section id="screenshots">
      <div class="screenshots section-padding dark-bg">
        <div class="container">

          <div class="header">
            <h1>Products Gallery</h1>
            <p>Something about products</p>
          </div>

          <div class="owl-carousel owl-theme">
            <div class="item">
              <a href="http://webuddysoft.com/cslider/wp-content/themes/enfold/cloudslider/slider-images/ring3.png" data-rel="prettyPhoto"><img src="http://webuddysoft.com/cslider/wp-content/themes/enfold/cloudslider/slider-images/ring3.png" alt="item photo"></a>
            </div> <!-- end item -->
            <div class="item">
              <a href="http://userimages05-akm.imvu.com/productdata/stickers_5405995ae986e55b23b4940fa895f1ca.png" data-rel="prettyPhoto"><img src="http://userimages05-akm.imvu.com/productdata/stickers_5405995ae986e55b23b4940fa895f1ca.png" alt="item photo"></a>
            </div> <!-- end item -->
            <div class="item">
              <a href="http://media.popcultcha.com.au/media/catalog/product/m/i/microbatmanggs.png" data-rel="prettyPhoto"><img src="http://media.popcultcha.com.au/media/catalog/product/m/i/microbatmanggs.png" alt="item photo"></a>
            </div> <!-- end item -->
            <div class="item">
              <a href="http://t02.deviantart.net/j_CshBlOjR3PPQkfvPv1_dxT6tM=/fit-in/300x900/filters:no_upscale():origin()/pre12/c4b5/th/pre/f/2015/173/a/9/this_comic_is_devouring_my_soul_by_cookie_waffle-d8y9nkr.png" data-rel="prettyPhoto"><img src="http://t02.deviantart.net/j_CshBlOjR3PPQkfvPv1_dxT6tM=/fit-in/300x900/filters:no_upscale():origin()/pre12/c4b5/th/pre/f/2015/173/a/9/this_comic_is_devouring_my_soul_by_cookie_waffle-d8y9nkr.png" alt="item photo"></a>
            </div> <!-- end item -->
            <div class="item">
              <a href="http://www.animatedimages.org/data/media/689/animated-dream-catcher-image-0009.gif" data-rel="prettyPhoto"><img src="http://www.animatedimages.org/data/media/689/animated-dream-catcher-image-0009.gif" alt="item photo"></a>
            </div> <!-- end item -->
            <div class="item">
              <a href="https://s-media-cache-ak0.pinimg.com/736x/2e/3d/19/2e3d190472e288b0e45e1b942f95edeb.jpg" data-rel="prettyPhoto"><img src="https://s-media-cache-ak0.pinimg.com/736x/2e/3d/19/2e3d190472e288b0e45e1b942f95edeb.jpg" alt="item photo"></a>
            </div> <!-- end item -->
          </div> <!-- end owl carousel -->

        </div> <!-- .container -->
      </div> <!-- end .screenshots -->  
    </section>