<div  class="well">
   <section class="alert">
    <h3 class="caption">Your Details</h3>
    <br>
    <span><strong class="text-info">First Name</strong> : <small>{{currentUser.firstName}}</small></span><br><br>
     <span><strong class="text-info">Last Name</strong> : <small>{{currentUser.lastName}}</small></span><br><br>
      <span><strong class="text-info">Email</strong> : <small>{{currentUser.email}}</small></span><br><br>
       <span><strong class="text-info">Mobile</strong> : <small>{{currentUser.mobile}}</small></span><br><br>
        <span><strong class="text-info">Address</strong> : <small>{{currentUser.address}}</small></span><br><br>
    </section>
<a class="btn btn-lg btn-danger" href="#uploadProduct"> Upload Own Product</a>
<br><br>
<strong>OR</strong>
<br><br>
<a class="btn btn-lg btn-warning" href="#browseProducts">Browse Product Gallery</a>
</div>