<div id="carousel" class="carousel slide" data-ride="carousel"  style="margin-top: -100px;">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1" class=""></li>
                    <li data-target="#carousel" data-slide-to="2" class=""></li>
                      <li data-target="#carousel" data-slide-to="3" class=""></li>
                        <li data-target="#carousel" data-slide-to="4" class=""></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <img  src="http://userimages05-akm.imvu.com/productdata/stickers_5405995ae986e55b23b4940fa895f1ca.png" alt="">
                      <br><br><br>
                      <div class="carousel-caption">
						    <button class="btn btn-info">Order now</button>
						 </div>
                    </div>
                    <div class="item ">
                      <img src="http://media.popcultcha.com.au/media/catalog/product/m/i/microbatmanggs.png" alt="" >
                       <br><br><br>
                      <div class="carousel-caption">
						    <button class="btn btn-info">Order now</button>
						 </div>
                    </div>
                    <div class="item ">
                      <img src='http://webuddysoft.com/cslider/wp-content/themes/enfold/cloudslider/slider-images/ring3.png' alt="" >
                     <br><br><br>
                      <div class="carousel-caption">
						    <button class="btn btn-info">Order now</button>
						 </div>
                    
                    </div>
                    
                    <div class="item ">
                      <img src="http://t02.deviantart.net/j_CshBlOjR3PPQkfvPv1_dxT6tM=/fit-in/300x900/filters:no_upscale():origin()/pre12/c4b5/th/pre/f/2015/173/a/9/this_comic_is_devouring_my_soul_by_cookie_waffle-d8y9nkr.png" alt="" >
                    	 <br><br><br>
                      	<div class="carousel-caption">
						    <button class="btn btn-info">Order now</button>
						 </div>
                    </div>
                    
                     <div class="item ">
                      <img src="http://www.animatedimages.org/data/media/689/animated-dream-catcher-image-0009.gif" alt="" >
                       <br><br><br>
                      <div class="carousel-caption">
						    <button class="btn btn-info">Order now</button>
						 </div>
                    </div> 
                    
                  </div> <!--end .carousel-inner  -->
                  <script>
               
               $('.carousel').carousel({
            	   interval: 200
            	 })
               </script>
                </div> <!--end #carousel !-->
               